/_ReSharper.DbShell
/DbShell.Driver.Common/bin
/DbShell.Driver.Common/obj
/DbShell.Driver.SqlServer/bin
/DbShell.Driver.SqlServer/obj
/DbShell.Driver.SqlServer.Test/bin
/DbShell.Driver.SqlServer.Test/obj
/DbShell.v11.suo
/DbShell.sln.DotSettings.user
/DbShell/bin
/DbShell/obj
/DbShell.Common/bin
/DbShell.Common/obj
/DbShell.Runtime/bin
/DbShell.Runtime/obj
/DbShell.Core/bin
/DbShell.Core/obj
/DbShell.Test/bin
/DbShell.Test/obj
TestResults
