bin
obj
TestResults
/_ReSharper.DbShell
*.suo
*.user
/Documentation/Documentation.shfbproj_jena
/Documentation/Help
/Install/source
/Install/output
/Install/DbShell.zip
/UpgradeLog.htm
/UpgradeLog.XML
/_UpgradeReport_Files
/Samples/DatabaseDoc.html
.vs
