<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="MultipleActiveResultSets=True;Data Source=localhost\SQL2008;Integrated Security=SSPI;Initial Catalog=AnalyseTest" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Database" value="AnalyseTest"/>
  </appSettings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
